.cmtCommander {
    background-color: var(--couleurBrun);

    & h3 {
        margin: 0em;
        text-align: center;
        color: var(--couleurBlanc);
        font-size: 2em;
        padding: 1em 0em 0em 0em;
    }

    & ol {
        margin: 0em;
    }

    & li {
        font-size: 2em;
        color: var(--couleurBlanc);
        padding: 0em 0em 0em 1em;

        &:last-child {
            padding-bottom: 2em;
        }
    }


}

.livraison {
    background-color: var(--couleurGris);
    padding: 0em 0em 4em 10em;
    & .livraisonCote {
        display: flex;
    }

    & i {
        font-size: 8em;
        color: var(--couleurJaune);
    }

    & h3 {
        margin: 0em;
        text-align: center;
        color: var(--couleurBlanc);
        font-size: 2em;
        padding: 1em 0em 0em 0em;

    }

    & p {
        margin: 0em;
        color: var(--couleurBlanc);

    }

    & label {
        color: var(--couleurBlanc);
    }
    & .distance{
        font-size: 2em;
    }
}

.entreprise {
    background-color: var(--couleurGris);
    border: 1px solid black;
    padding: 0em 0em 2em 0em;
    & .cotecote{
        display: flex;
        width: 40vw;
        padding: 0em 0em 0em 25em;
        & p{
            text-align: justify;
            padding: 0em 0em 0em 3em;
            font-size: 1em;
        }
    }

    & h3 {
        margin: 0em;
        text-align: center;
        font-size: 2em;
        padding: 1em 0em ;

        & a {
            color: var(--couleurBlanc);
        }

    }

    & p {
        margin: 0em;
        padding-bottom: 2em;
    }
}

@include boutton;