.faq{
    
    background-color: var(--couleurOrange);
    padding: 3em 0em;
    & h3{
        text-align: center;
        font-size: 2em;
        color:var(--couleurBlanc);
    }
    & div.flex{
        display: flex;
        width: 80vw;
        padding: 0em 20em;
    }
    & img{
        width: 8em;
    }
    & address{
        padding: 2em 0em;
    }
    & i.fab{
        font-size: 3em;
        padding: 0.8rem;
        color: var(--couleurNoir);
    }
}