/*footer*/
footer{
    background-color:var(--couleurBrun);
    .flexFooter{
       display: flex; 
       justify-content: center;
       & img{
           width: 6em;
           margin: 0em 3em 0em 0em;
       }
    }
    
    & ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        & li{
            padding: 1em 0em;
            & a{
                text-decoration: none;
                color: var(--couleurBlanc);
                background-color: var(--couleurGris);
                padding: 1em;
                
            }
            & a:hover{
                background-color: var(--couleurNoir);
                padding: 1em;
            }
        }
    }
    p{
        display: block;
        text-align: center;
        color: var(--couleurBlanc);
    }
}
