/*header*/
.langueConnection{
    
    background-color: var(--couleurOrange);
    display: flex;
    justify-content: flex-end;
    & a{
        color: var(--couleurBlanc);
        text-align: end;
        padding:1em 0.5em;
    }
    
    
}
.fa-arrow-alt-circle-up{
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    font-size: 3em;
    color: var(--couleurNoir);
    
    &:hover{
        color: var(--couleurBlanc);
    }
}