/*nav principale*/
.navPrincipal{
    background-color:var(--couleurBrun);
    ul{
        display: flex;
       justify-content: center;
        & li{
            padding: 2em;
            list-style-type: none;
            & a{
                
                color: var(--couleurBlanc);
                text-decoration: none;
                
                &:hover{
                    background-color: var(--couleurGris);
                }
            }
        }
    }
    img{
        width: 8em;
        
    }
}