.aside {
    display: flex;

    & aside {
        border-right: solid black 1px;
        & a{
            color: var(--couleurBlanc);
            text-decoration: none;
            margin-left: 1em;
            &:hover{
                background-color: var(--couleurGris);
            }
        }
    }

    & .gauche {
        margin: 0em 5em 0em 2.5em;
    }

    & h2,
    h3 {
        color: var(--couleurBlanc);

    }

    & h2 {
        margin: 1.5em;
    }

    & .droite {
        flex-direction: column;
        text-align: center;
        margin: 0em 20em;
        & .newCommande {
        display: flex;
        align-items: center;

        & .chiffre {
            font-size: 2em;
            background-color: var(--couleurBlanc);
            padding: 0.3em;
            margin-right: 0.5em;
            border: solid 1px black;

        }

        & a.commande {
            margin-left: 0.5em;
            color: white;
            padding: 0.125em;
            text-decoration: none;
            border: solid 1px var(--couleurGris);
            background-color: var(--couleurJaune);
            &:hover{
                background-color: var(--couleurGris);
            }
        }
    }
    }

    
    & .lesProduit{
        display: flex;
        align-items: center;
        & .chiffre {
            font-size: 2em;
            background-color: var(--couleurBlanc);
            padding: 0.3em;
            margin-right: 0.5em;
            border: solid 1px black;

        }
        & .dessusDessous{
            display: flex;
            flex-direction: column;
            margin-left: 0.5em;
            
            & a{ 
            color: white;
            padding: 0.125em;
            text-decoration: none;
            border: solid 1px var(--couleurGris);
            background-color: var(--couleurJaune);
            &:hover{
                background-color: var(--couleurGris);
            }
            
            }
        }
    }

}
