/*login*/
body.connection {
    background-color: var(--couleurBrun);

    & img {
        width: 15em;
        margin: 0vw 41vw;
    }

    & h1 {
        color: var(--couleurBlanc);
        text-align: center;
    }

    & .form {
        padding: 0em 20em;
    }

    & .bouttonConnection {
        position: fixed;
        left: 45vw;
    }
}

@include boutton;